$white: #ffffff;
$white2: #f8f8f8;
//$red: #c0301c;
$red: #4B0082;
$red2: #d16d60;
$gray: #555555;
$black: #000000;
$blue: #3b5998;
$blue2: #26a6d1;
$blue3: #0e76a8;
$blue4: #3f729b;
$blue5: #86c9ef;
