.sign {
    width: 100%;
    min-height: 240px;
    background: $purple2;

&__title {
    padding-top: 60px;
    padding-bottom: 40px;
    color: $white;
    font: 400 24px 'Noto Sans';
    text-align: center;
    @media (max-width: 430px) {
        font-size: 20px;
    }
}

&__btn {
    @include btn;
    &:hover {
        background: $purple3;
    }
}
}

.sign__two {
    background: $blue;
}

.sign__two--btn {
    background: $white;
    color: $blue;
    &:hover {
        background: $purple;
    }
}