@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700i");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }

button,
input {
  cursor: pointer;
  background-color: transparent; }
  button:focus, button:active,
  input:focus,
  input:active {
    outline: none; }

textarea {
  cursor: pointer;
  outline: none;
  background-color: transparent; }

a, i, button {
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s; }

button {
  text-transform: uppercase; }

.section__contain {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.button-up {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #e04e74;
  border: 1px solid #9785e7;
  background-color: rgba(25, 111, 192, 0.3);
  position: fixed;
  bottom: 30px;
  right: 10px;
  font-size: 24px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 10; }
  .button-up.is-visible {
    opacity: 1;
    pointer-events: auto; }
  .button-up:hover {
    background-color: rgba(25, 111, 192, 0.7); }

.main__screen {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../image/bg.png") top center no-repeat fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  width: 100%;
  position: absolute;
  background: #ffffff;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px 0;
  z-index: 2; }
  .header--fixed {
    position: fixed;
    background: #ffffff;
    top: 0;
    box-shadow: 0 0 7px 0 rgba(15, 15, 15, 0.904);
    -webkit-transition: 0.5s ease-out 0.5s;
    transition: 0.5s ease-out 0.5s;
    z-index: 10; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 900px) {
      .header__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__links-item {
    font: 400 16px "Noto Sans";
    color: #2b2446;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1.2px;
    margin-right: 22px; }
    .header__links-item:last-child {
      margin-right: 0; }
    .header__links-item:hover {
      color: #9785e7; }
  .header__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer; }
    .header__icon span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #2b2446;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .header__icon span:nth-child(1) {
        top: 0px; }
      .header__icon span:nth-child(2) {
        top: 13px; }
      .header__icon span:nth-child(3) {
        top: 13px; }
      .header__icon span:nth-child(4) {
        top: 26px; }
    @media (max-width: 400px) {
      .header__icon {
        width: 35px;
        height: 25px; } }
  .header .header__menu.menu_state_open .header__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .header .header__menu.menu_state_open .header__icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header .header__menu.menu_state_open .header__icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .header .header__menu.menu_state_open .header__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .header .header__menu.menu_state_open .header__links {
    display: block; }
  @media screen and (max-width: 999px) {
    .header .header__icon {
      display: inline-block; }
    .header .header__links {
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 80px;
      background-color: #1be7e8;
      z-index: 1000;
      overflow: auto; }
    .header .header__links-item {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #2b2446;
      margin: 0; }
      .header .header__links-item:hover {
        color: #9785e7; } }
  .header__button {
    width: 114px;
    height: 44px;
    background: #9785e7;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    font: 400 14px "Noto Sans";
    margin-left: 30px; }
    .header__button:hover {
      background: #2b2446; }
    @media (max-width: 550px) {
      .header__button {
        display: none; } }
  .header__language {
    margin-left: 30px;
    cursor: pointer;
    border-radius: 50%; }
    .header__language:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      box-shadow: 0 0 10px rgba(159, 87, 226, 0.993); }
    @media (max-width: 600px) {
      .header__language {
        display: none; } }
  .header__language-show {
    width: 100%;
    min-height: 82px;
    background: #eeeeee;
    margin-top: 20px;
    padding-top: 25px;
    display: none; }
  .header__language-wrap {
    max-width: 1042px;
    min-height: 30px;
    margin: 0 auto;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 700px) {
      .header__language-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .header__language-wrap span {
      font: 400 16px "Noto Sans";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 700px) {
        .header__language-wrap span {
          max-width: 96px;
          margin-bottom: 20px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .header__language-wrap span a {
        margin-left: 12px; }
        @media (max-width: 700px) {
          .header__language-wrap span a {
            margin-left: 0; } }
        .header__language-wrap span a img {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-filter: gray;
                  filter: gray;
          /* IE 6-9 */ }
          .header__language-wrap span a img:hover {
            -webkit-filter: none;
            -moz-filter: none;
            -ms-filter: none;
            -o-filter: none;
            filter: none;
            filter: none;
            /* IE 6-9 */ }
  .header__scroll {
    position: absolute;
    top: 92%;
    left: 50%; }
  .header__title {
    font: 700 60px 'Noto Sans';
    color: #1be7e8;
    text-transform: uppercase;
    letter-spacing: 3.5px; }
    @media (max-width: 400px) {
      .header__title {
        font-size: 50px; } }
  .header__text {
    font: 400 24px 'Noto Sans';
    color: #1be7e8;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 40px; }
    @media (max-width: 400px) {
      .header__text {
        font-size: 18px; } }
  .header__btn {
    width: 180px;
    height: 60px;
    background: #9785e7;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #ffffff;
    font: 400 18px "Noto Sans";
    margin: 0; }
    .header__btn:hover {
      background: #2b2446; }

.works {
  width: 100%;
  min-height: 504px;
  background: #ffffff; }
  .works__title {
    font: 400 30px "Noto Sans";
    letter-spacing: 0.04em;
    color: #2b2446;
    padding-top: 90px;
    text-align: center;
    margin-bottom: 55px; }
  .works__card {
    width: 100%;
    max-width: 1001px;
    min-height: 242px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .works__card {
        padding: 15px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .works__item {
    width: 100%;
    max-width: 230px;
    height: 242px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 28px; }
    .works__item:last-child {
      margin-right: 0; }
    @media (max-width: 1000px) {
      .works__item {
        margin-right: 0px; }
        .works__item:nth-child(2) {
          margin-bottom: 15px; } }
    @media (max-width: 540px) {
      .works__item {
        margin-bottom: 15px; } }
  .works__text {
    font: 400 16px "Noto Sans";
    color: #2b2446;
    text-transform: uppercase;
    white-space: nowrap; }

.sign {
  width: 100%;
  min-height: 240px;
  background: #2b2446; }
  .sign__title {
    padding-top: 60px;
    padding-bottom: 40px;
    color: #ffffff;
    font: 400 24px 'Noto Sans';
    text-align: center; }
    @media (max-width: 430px) {
      .sign__title {
        font-size: 20px; } }
  .sign__btn {
    width: 180px;
    height: 60px;
    background: #9785e7;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #ffffff;
    font: 400 18px "Noto Sans"; }
    .sign__btn:hover {
      background: #2b2446; }
    .sign__btn:hover {
      background: #bc6ee5; }

.sign__two {
  background: #1be7e8; }

.sign__two--btn {
  background: #ffffff;
  color: #1be7e8; }
  .sign__two--btn:hover {
    background: #9785e7; }

.categories {
  width: 100%;
  min-height: 1406px;
  background: #ffffff; }
  .categories__title {
    font: 400 30px "Noto Sans";
    letter-spacing: 0.04em;
    color: #2b2446;
    padding-top: 90px;
    text-align: center;
    margin-bottom: 60px; }
  .categories__wrap {
    width: 100%;
    max-width: 1453px;
    min-height: 974px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1435px) {
      .categories__wrap {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media (max-width: 960px) {
      .categories__wrap {
        margin-bottom: 20px; } }
  .categories__item {
    width: 100%;
    max-width: 452px;
    height: 491px;
    background: #eeeeee;
    overflow: hidden;
    position: relative; }
    .categories__item:hover {
      -webkit-transition: ease-out 0.7s;
      transition: ease-out 0.7s;
      background: #9785e7; }
      .categories__item:hover .categories__item-title {
        color: #ffffff; }
      .categories__item:hover .categories__content-description {
        color: #ffffff; }
      .categories__item:hover .categories__content-btn {
        background: #ffffff;
        color: #2b2446; }
      .categories__item:hover .categories__overlay {
        opacity: 1; }
    .categories__item:nth-child(-n+3) {
      margin-bottom: 32px; }
    @media (max-width: 960px) {
      .categories__item {
        margin-bottom: 10px; } }
  .categories__item-title {
    font: 400 24px "Noto Sans";
    padding: 30px; }
  .categories__img {
    width: 100%;
    max-width: 452px;
    height: 204px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .categories__content {
    padding: 30px; }
  .categories__content-description {
    font: 400 18px "Noto Sans";
    color: #2b2446;
    padding-bottom: 40px; }
    @media (max-width: 500px) {
      .categories__content-description {
        font-size: 16px;
        padding-bottom: 20px; } }
    @media (max-width: 500px) {
      .categories__content-description {
        font-size: 14px;
        padding-bottom: 20px; } }
  .categories__content-btn {
    width: 134px;
    height: 44px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font: 400 14px "Noto Sans";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #2b2446; }
    .categories__content-btn i {
      padding-left: 8px; }
  .categories__btn {
    width: 180px;
    height: 60px;
    background: #9785e7;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #ffffff;
    font: 400 18px "Noto Sans"; }
    .categories__btn:hover {
      background: #2b2446; }
    @media (max-width: 1430px) {
      .categories__btn {
        margin-bottom: 20px; } }
  .categories__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(118, 101, 194, 0.3);
    cursor: pointer; }
    .categories__overlay img {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }

.price {
  width: 100%;
  min-height: 684px;
  background: #eeeeee; }
  .price__wrapper {
    max-width: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1010px) {
      .price__wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media (max-width: 995px) {
      .price__wrapper {
        padding: 15px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .price__title {
    font: 400 30px "Noto Sans";
    letter-spacing: 0.04em;
    color: #2b2446;
    padding-top: 90px;
    text-align: center;
    margin-bottom: 80px; }
  .price__card {
    width: 100%;
    max-width: 312px;
    height: 411px;
    background: #ffffff;
    padding: 60px 41px 41px 41px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1000px) {
      .price__card {
        margin-bottom: 55px; }
        .price__card:last-child {
          margin-bottom: 20px; } }
  .price__card-circle {
    width: 88px;
    height: 88px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: #aba9b2 0px 0px 5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -45px; }
  .price__card-title {
    font: 400 24px 'Noto Sans';
    color: #2b2446;
    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap; }
    @media (max-width: 400px) {
      .price__card-title {
        font-size: 20px; } }
  .price__value {
    max-width: 113px;
    border-top: 1px solid #aba9b2;
    border-bottom: 1px solid #aba9b2;
    margin-bottom: 30px; }
    @media (max-width: 400px) {
      .price__value {
        margin-bottom: 20px; } }
  .price__value-numeral {
    font: italic 48px 'Noto Sans i';
    color: #2b2446; }
    @media (max-width: 400px) {
      .price__value-numeral {
        font-size: 38px; } }
  .price__card-text {
    text-align: center;
    font: 400 18px 'Noto Sans';
    color: #aba9b2;
    margin-bottom: 38px; }
    @media (max-width: 400px) {
      .price__card-text {
        font-size: 14px;
        margin-bottom: 45px; } }
  .price__card-btn {
    width: 134px;
    height: 44px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font: 400 14px "Noto Sans";
    background: #bc6ee5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .price__card-btn i {
      padding-left: 8px; }
    .price__card-btn:hover {
      background: #1be7e8; }

.form {
  width: 100%;
  min-height: 705px;
  background: #ffffff; }
  .form__contain {
    padding-top: 60px; }
  .form__wrap {
    width: 100%;
    max-width: 1116px;
    margin: 0 auto; }
  .form__wrapping {
    width: 100%;
    max-width: 1116px;
    min-height: 343px;
    margin: 0 auto;
    padding-bottom: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 800px) {
      .form__wrapping {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .form__left {
    width: 100%;
    max-width: 528px;
    height: 343px; }
    @media (max-width: 800px) {
      .form__left {
        margin-bottom: 15px; } }
  .form__right {
    width: 100%;
    max-width: 528px;
    height: 251px; }
    @media (max-width: 1100px) {
      .form__right {
        margin-left: 20px; } }
    @media (max-width: 800px) {
      .form__right {
        margin-left: 0; } }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
    .form__item:last-child {
      margin-bottom: 0; }
  .form__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form__item-wrap span {
      font: 400 12px 'Noto Sans';
      text-transform: uppercase;
      color: #2b2446;
      cursor: pointer; }
  .form__name {
    text-transform: uppercase;
    color: #2b2446;
    font: 700 12px 'Noto Sans';
    margin-bottom: 8px; }
  .form__form {
    width: 100%;
    max-width: 528px;
    height: 44px;
    outline: none;
    background: transparent;
    border: 1px solid #aba9b2;
    border-radius: 4px;
    padding: 5px 15px;
    font: 400 16px 'Noto Sans';
    color: #2b2446; }
    .form__form:focus {
      border-color: #9785e7;
      background: #9785e770; }
  .form__select {
    background: transparent;
    border: 1px solid #aba9b2;
    border-radius: 4px;
    font: 400 16px 'Noto Sans';
    color: #2b2446;
    cursor: pointer;
    padding: 9px 15px;
    outline: none; }
    .form__select option {
      font: 400 16px 'Noto Sans';
      color: #2b2446; }
      .form__select option:hover {
        background: #9785e7; }
  .form__download {
    width: 100%;
    max-width: 900px;
    min-height: 185px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 700px) {
      .form__download {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .form__types {
    width: 100%;
    max-width: 283px;
    min-height: 184px; }
  .form__formats {
    width: 100%;
    max-width: 311px;
    min-height: 134px; }
  .form__download-title {
    font: 400 24px 'Noto Sans';
    color: #2b2446;
    white-space: nowrap;
    margin-bottom: 40px; }
    @media (max-width: 400px) {
      .form__download-title {
        font: 400 18px 'Noto Sans'; } }

.custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .custom label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .custom .custom__checkbox:checked + .custom__checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    background: #9785e7;
    border-radius: 2px; }
    @media (max-width: 500px) {
      .custom .custom__checkbox:checked + .custom__checkbox-custom::before {
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px; } }
  .custom__checkbox {
    display: none; }
  .custom__checkbox-custom {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #aba9b2;
    border-radius: 3px;
    margin-right: 14px;
    cursor: pointer; }
    .custom__checkbox-custom:active {
      border-color: #9785e7; }
    @media (max-width: 400px) {
      .custom__checkbox-custom {
        width: 15px;
        height: 15px; } }
  .custom__label {
    font: 400 18px 'Noto Sans';
    color: #aba9b2; }
    .custom__label:active {
      color: #2b2446; }
    @media (max-width: 400px) {
      .custom__label {
        font: 400 14px 'Noto Sans'; } }

.footer {
  width: 100%;
  min-height: 340px;
  background: #2b2446; }
  .footer__contain {
    min-height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__wrap {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 750px) {
      .footer__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .footer__info {
    max-width: 451px;
    min-height: 176px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 750px) {
      .footer__info {
        margin-bottom: 15px; } }
    @media (max-width: 480px) {
      .footer__info {
        display: none; } }
  .footer__list {
    margin-right: 38px; }
    .footer__list:last-child {
      margin-right: 0; }
  .footer__list-title {
    font: 700 14px 'Noto Sans';
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .footer__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__list-item a {
      font: 400 14px 'Noto Sans';
      color: #4a4869;
      margin-bottom: 12px; }
      .footer__list-item a:last-of-type {
        margin-bottom: 0; }
      .footer__list-item a:hover {
        color: #bc6ee5; }
  .footer__social {
    min-height: 176px; }
  .footer__social-title {
    font: 400 14px 'Noto Sans';
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 14px; }
    @media (max-width: 750px) {
      .footer__social-title {
        display: none; } }
  .footer__social-link {
    width: 212px;
    height: 46px;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px; }
  .footer__social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social-icon:hover {
      background: #1be7e8; }
  .footer__social-btn {
    width: 134px;
    height: 44px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font: 400 14px "Noto Sans";
    background: #9785e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__social-btn i {
      margin-left: 5px; }
    .footer__social-btn:hover {
      background: #1be7e8; }
    @media (max-width: 750px) {
      .footer__social-btn {
        margin: 0 auto; } }

.made__contain {
  border-top: 1px solid #303030;
  margin: 0 auto;
  padding: 26px 0 21px 0; }
.made__text {
  color: #ffffff;
  text-align: center;
  font: 400 14px 'Noto Sans'; }
  .made__text .fa {
    color: #1be7e8;
    margin: 0 5px 0 2px; }
    .made__text .fa:last-of-type {
      color: #e04e74;
      margin-left: 5px;
      margin-right: 15px; }
