.blog {
    width: 100%;
    min-height: 1080px;
    background: $white;

&__title {
 @include title;
 margin-bottom: 26px;
}

&__subtitle {
    text-align: center;
    @include regular-text;
    margin-top: 26px;
}

&__box {
    width: 100%;
    max-width: 1138px;
    padding-top: 68px;
}

&__news {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 68px;
    &:last-of-type {
        padding-bottom: 0;
    }
    @media (max-width:700px) {
        flex-direction: column;
        align-items: center;
    }
}

&__text {
    width: 100%;
    max-width: 642px;
    min-height: 260px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    @media (max-width:578px) {
        margin-left: 0;
        padding: 5px;
    }
}

&__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
}

&__when {
    width: 78px;
    height: 78px;
    border: 2px solid $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

&__when-date {
    font: 700 18px "Montserrat";
    color: $gray;
}

&__topic {
    margin-left: 30px;
}

&__topic-title {
    font: 700 16px "Montserrat";
    color: $red;
    text-transform: uppercase;
    line-height: 1.5;
}

&__topic-subtitle {
    font: 400 13px "Roboto Slab";
    color: $gray;
    & span {
        color: $red;
    }
}

&__text-description {
    @include regular-text;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 34px;
}

&__text-link {
    width: 100%;
    max-width: 110px;
    height: 30px;
    padding-top: 7px;
    font: 400 12px "Montserrat";
    color: $white;
    background: $red;
    border: 1px solid $black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        color: $red;
        box-shadow: inset 0 0 0 15px $white;
    }
}

&__img {
    width: 100%;
    max-width: 460px;
    height: auto;
    @media (max-width:700px) {
        margin-bottom: 10px;
    }
}
}