.main-screen {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        font: 700 60px "Exo";
        text-align: center;
        letter-spacing: 6px;
        padding-bottom: 25px;
        color: $white;
        @media (max-width: 400px) {
            font: 700 40px "Exo";
        }
    }
    &__subtitle {
        font: 400 20px "Exo";
        letter-spacing: 0.08em;
        text-align: center;
        color: $white;
        padding-bottom: 50px;
    }
    &__btn {
        @include button;
    }
}

.header {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 30px 0;
    z-index: 2;
    &--fixed {
        position: fixed;
        background: $black;
        top: 0;
        padding: 15px 5px;
        box-shadow:  0 0 7px 0 rgba(255, 255, 255, 0.904);
        transition: 0.5s ease-out 0.5s;
        z-index: 10;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 900px) {
            flex-wrap: wrap;
        }
    }
    &__logo-text {
        font: 700 24px "Montserrat";
        color: $white;
    }
    &__nav {
        display: flex;
        align-items: center;
        @media (max-width: 900px) {
            width: 100%;
        }
        @media (max-width: 900px) {
            display: none;
            &.header__nav--open {
                display: block;
            }
        }
    }
    &__nav-list {
        display: flex;
        align-items: center;
        @media (max-width: 900px) {
            width: 100%;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            background: rgba(98, 0, 255, 0.705);
        }
    }
    &__nav-item {
        cursor: pointer;
        margin-right: 25px;
        transition: all 0.5s ease;
        &:last-of-type {
            margin-right: 0;
        }
        @media (max-width: 900px) {
            margin-right: 0;
            padding: 5px;
        }  
    }
    &__nav-link {
        font: 400 14px "Montserrat";
        color: $white;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid $white;
        }
        &--active {
            border-bottom: 2px solid $white;
            transition: 0.3s ease-out 0.3s;
        }
    }
}

.nav {
&__btn {
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    border-radius: 4px;
    background-color: $white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    @media (max-width: 900px) {
        display: block;
    }
    &:hover {
        background-color: $white2;
    }
    span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: $black;
        margin: 0 auto 3px;
        transition: all 0.3s ease-in-out;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &--animate {
        position: relative;
        border: none;
        background-color: transparent;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:first-of-type {
                transform: translate(-50%, -50%) rotate(225deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
                transform: scale(0);
            }
            &:last-of-type {
                transform: translate(-50%, -50%) rotate(-225deg);
            }
        }
    }
}
}


